<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1421</integer>
	<key>capHeight</key>
	<integer>1187</integer>
	<key>copyright</key>
	<string>Copyright © 2020 Neatnik LLC</string>
	<key>descender</key>
	<integer>-643</integer>
	<key>familyName</key>
	<string>Terminal Land Mono Sans</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>-52</integer>
			<key>y</key>
			<integer>-388</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>-45</integer>
			<key>y</key>
			<integer>1312</integer>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2020/10/22 13:46:52</string>
	<key>openTypeHheaAscender</key>
	<integer>1421</integer>
	<key>openTypeHheaDescender</key>
	<integer>-643</integer>
	<key>openTypeNameDesigner</key>
	<string>Adam Newbold</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://neatnik.net/adam</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Neatnik LLC</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://neatnik.net</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>1421</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-643</integer>
	<key>openTypeOS2VendorID</key>
	<string>NEAT</string>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1797</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-839</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-22</integer>
		<integer>0</integer>
		<integer>924</integer>
		<integer>946</integer>
		<integer>1187</integer>
		<integer>1209</integer>
		<integer>1312</integer>
		<integer>1334</integer>
	</array>
	<key>postscriptFontName</key>
	<string>TerminalLandMonoSans-Bold</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-410</integer>
		<integer>-388</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>235</integer>
		<integer>237</integer>
		<integer>225</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>250</integer>
		<integer>262</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>bold</string>
	<key>styleName</key>
	<string>Bold</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>924</integer>
</dict>
</plist>
